<div class="cart_container">
    <div class="cart">
        <div class="cartInfo">
          <h2>Shopping Cart</h2>
          <hr>
          <div class="order">
              <div *ngFor="let cartMovie of cartMovies">
                <p><a style="color: rgb(58, 92, 141); cursor: pointer; padding: 10px;" (click)="remove(cartMovie)"><i class="fas fa-minus" style="color: rgb(58, 92, 141);"></i></a> {{cartMovie.amount}} <a style="color: rgb(58, 92, 141); cursor: pointer; padding: 10px;" (click)="addToCart(cartMovie.movie)"><i class="fas fa-plus" style="color: rgb(58, 92, 141);"></i></a> {{cartMovie.movie.name}} <br>
                Price: {{cartMovie.amount * cartMovie.movie.price}} kr</p>
                <hr>
              </div>
          </div>
          <h3 style="margin-top: 20px;">Total price: {{totalPrice}} kr</h3>
          <button class="my_btn" style="background-color: darkgreen; border-color: black;" routerLink="/checkout"><i class="fas fa-truck"></i> Confirm order</button> <br>
          <button (click)="emptyCart()" class="my_btn" style="background-color: darkred; border-color: black;"><i class="fas fa-shopping-cart"></i> Remove all</button>
        </div>
      </div>
    </div>