<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">FlexMovie</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav mr-auto"></div>
      <ul class="navbar-nav mr-3">
        <li class="shopping-item"><a routerLink="/admin"><i class="fas fa-user-cog"></i></a></li>
        <li class="shopping-item"><a routerLink="/shopping-cart-full"><i class="fas fa-shopping-cart"></i>
            {{cartItem}}</a></li>
      </ul>
      <div class="form-inline mt-2 mt-md-0">
        <input (keyup)="searchMovie(searchBox.value)" #searchBox class="form-control mr-sm-2" type="text"
          placeholder="Search" aria-label="Search">
        <a (click)="searchMovie(searchBox.value)" class="my_btn my-2 my-sm-0"><i class="fas fa-search"></i></a>
      </div>
    </div>
  </nav>
  <div class="search d-flex justify-content-end">
    <div id="searchDropdown">
      <h3 (click)="closeWindow()"><i class="fas fa-times"></i></h3>
      <hr>
      <div class="searchClose" *ngFor="let item of searchValue"><a class="searchLink" (click)="closeWindow()" [routerLink]="['/details', item.id]">
          <p class="searchResult"><img src="{{item.imageUrl}}" alt="img"> {{item.name}}</p>
          <hr>
        </a></div>
    </div>
  </div>
</header>
