.shopping-item a{
    text-decoration: none;
    padding: 1rem 1rem 1rem 0;
}

.shopping-item{
    padding: 1rem 0;
}

#searchDropdown{
    width: 100%;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #searchDropdown{
        width: 300px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}