.main_wrap { 
    display: table;
}

.main{
    max-width: 100%;
    padding: 0!important;
    margin: 0!important;
}

.sidebar {
    min-width: 300px;
    max-width: 300px;
    display: table-cell;
}

.content {
    display: table-cell;
    width: 100%;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-image: url('../../image/646578.jpg'); 
    min-height: 94.1vh;
}

.info{
    background-color: rgba(0, 0, 0, 0.699);
    height: 550px;
    border-radius: 30px;
}