<div class="main_wrap container-fluid d-flex">
  <div class="content" style="background-size: cover; background-repeat: no-repeat; background-image: url('https://media.giphy.com/media/3o7rc0qU6m5hneMsuc/giphy.gif'); min-height: 94.1vh;">
    <div class="row m-5" style="max-width: 40rem;">
      <div class="col-md-6" style="padding: 0; height: 550px;">
          <img src="{{product.imageUrl}}" style="width: 100%; height: 100%;">
      </div>
      <div class="col-md-6 p-4" style="background-color: black; height: 550px;">
        <h3 style="color:white;">{{product.name}}</h3>
        <p>Description: {{product.description}}</p>
        <p>Year: {{product.year}}</p>
        <p>Added: {{product.added}}</p>
        <p>Price: {{product.price}}</p>
        <button (click)="addToCart(product)" class="my_btn"><i class="fas fa-shopping-cart"></i> Add to cart</button>
      </div>
    </div>
  </div>
  <div class="sidebar d-none d-lg-block">
    <app-shopping-cart></app-shopping-cart>
  </div>
</div>