.main_wrap { 
    display: table;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-image: url('../../image/646578.jpg'); 
    min-height: 92.5vh;
}

.content {
    width: 100%;
    margin: auto;
}

.cartInfo{
    padding: 15px;
    margin: 0 auto;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.699);
    border-radius: 30px;
}

.order{
    overflow: scroll;
    overflow-y: scroll; 
    height:280px;
}

h2{
    font-weight: bold;
    text-align: center;
    color: rgb(58, 92, 141);
    padding-top: 40px;
    font-family: 'Raleway', sans-serif;
}

h3{
    padding-top: 1.5em;
    color: rgb(245, 245, 245);
    font-family: 'Lato', sans-serif;
}

h5{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgb(245, 245, 245);
}

p{
    color: rgb(245, 245, 245);
    font-size: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

hr{
    background-color: white;
}

.my_btn{
    width: 100%;
    padding: 10px 10px 10px 0;
    margin: 10px 0;
}
