<div class="container-fluid d-flex" style="max-width: 100%;">
    <!-- <div id="open-modal" class="modal-window">
      <div>
        <h1>You just added 1 item</h1>
        <h6>{{addedItem.name}}</h6>
        <img class="card-img-top" style="max-width: 15rem; min-height: 20rem; max-height: 20rem;" src="{{addedItem.imageUrl}}" alt="Card image cap">
        <a href="#modal-close"><button class="my_btn" style="background-color: darkgreen; border-color: black; margin-top: 20px;">Continue shopping</button></a>
      </div>
    </div> -->
  <div class="main_wrap">
    <div class="header"></div>
    <h3 class="categorys">Action</h3>
    <div class="main row">
      <app-movie-presentation *ngFor="let product of actionMovie" [products]="product"></app-movie-presentation>
    </div>
    <h3 class="categorys">Comedy</h3>
    <div class="main row">
      <app-movie-presentation *ngFor="let product of comedyMovie" [products]="product"></app-movie-presentation>
    </div>
    <h3 class="categorys">Thriller</h3>
    <div class="main row">
      <app-movie-presentation *ngFor="let product of thrillerMovie" [products]="product"></app-movie-presentation>
    </div>
    <h3 class="categorys">Sci-fi</h3>
    <div class="main row">
      <app-movie-presentation *ngFor="let product of sfiMovie" [products]="product"></app-movie-presentation>
    </div>
  </div>
  <div class="sidebar d-none d-md-block">
    <app-shopping-cart></app-shopping-cart>
  </div>
</div>