.main{
    background-size: cover; 
    background-repeat: no-repeat; 
    background-image: url('../../image/646578.jpg'); 
    min-height: 92.5vh;
}

.form_container{
    margin-top: 100px;
    height: 100%;
    width: 100%;
    margin: auto;
}

.form{
    max-width: 700px;
    padding: 8rem;
    background-color: rgba(0, 0, 0, 0.699);
    border-radius: 20px;
    color: white;
    margin: 0 auto;
}