.main{
    color: black;
}

.form{
    margin-top: 100px;
    width: 100%;
    max-width: 700px;
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

input{
    border: none;
    border-bottom: 1px solid black;
}

.my_btn{
    background-color: green;
}